<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h2>Мои заявки на отпуск</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Дата начала</th>
            <th>Дата окончания</th>
            <th>Тип отпуска</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacationRequest : ${vacationRequests}">
            <td th:text="${vacationRequest.startDate}"></td>
            <td th:text="${vacationRequest.endDate}"></td>
            <td th:text="${vacationRequest.vacationType}"></td>
            <td th:text="${vacationRequest.status}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/auth/vacation-request}" class="btn btn-primary">Подать заявку на отпуск</a>
</div>


</body>
</html>